.sidebar {
    padding: 30px;
}

.menu-container,
.tag-project-container,
.todo-project-container {
    display: flex;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid hsl(241deg 10% 98%);
    border-radius: 10px;
    align-items: center;
}

.menu-container:hover,
.tag-project-container:hover,
.todo-project-container:hover,
.current-project {
    background-color: white;
    border: 1px solid var(--gray-color);
}

.menu-container:active,
.tag-project-container:active,
.todo-project-container:active {
    box-shadow: var(--default-shadow);
}

.project-icon,
.tag-icon {
    margin-right: 10px;
    pointer-events: none;
}

#inbox-icon {
    color: var(--main-color);
}

#today-icon {
    color: var(--opposite-color);
}

#flag-icon {
    color: var(--flag-color);
}

.project-title,
.tag-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-right: auto;
    height: 100%;
    pointer-events: none;
}

.menu-divider {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 20px;
}

.divider-title {
    margin-left: 38px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.sidebar-btn {
    background-color: hsl(241deg 10% 98%);
    border: none;
    cursor: pointer;
    padding: 5px;
}

.x-btn {
    background-color: white;
    transform: scale(0.8);
    opacity: 0;
}

.todo-project-container:hover>.x-btn {
    opacity: 1;
}

.x-btn:hover {
    color: var(--opposite-color);
}



.divider-btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\2b";
}

.divider-btn:hover::before {
    color: var(--opposite-color);
}

.tag-icon {
    color: var(--flag-color);
}

.tag-title {}

.menu-input:hover,
.menu-input:active {
    background-color: hsl(241deg 10% 98%);
    border: 1px solid hsl(241deg 10% 98%);
    box-shadow: none;
}


.input-project-title {
    height: 30px;
    width: 100%;
    margin-right: 10px;
    border: 1px solid var(--gray-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
}

.fa-circle {
    transform: scale(0.6);
    color: var(--opposite-color) !important;
}

.fa-check {
    margin-left: auto;
}

.fa-check:hover {
    color: var(--opposite-color);
}