.sidebar {
    padding: 30px;
}

.menu-container,
.tag-project-container {
    display: flex;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid hsl(241deg 10% 98%);
    border-radius: 10px;
}

.menu-container:hover,
.tag-project-container:hover,
.current-project {
    background-color: white;
    border: 1px solid var(--gray-color);
}

.menu-container:active,
.tag-project-container:active {
    box-shadow: var(--default-shadow);
}

.project-icon,
.tag-icon {
    margin-right: 10px;
}

#inbox-icon {
    color: var(--main-color);
}

#today-icon {
    color: var(--opposite-color);
}

#flag-icon {
    color: var(--flag-color);
}

.project-title,
.tag-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.menu-divider {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.divider-title {
    margin-left: 38px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.divider-btn {
    background-color: hsl(241deg 10% 98%);
    border: none;
    cursor: pointer;
    padding: 5px;
}

.divider-btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\2b";
}

.tag-icon {
    color: var(--flag-color);
}

.tag-title {}